body  {background-color:#F7F2EB}
h1  {color:#FF95A5}
p  {color:#F2842F}

.kanan {text-align: right;}
.kiri {text-align: left;}	
.tengah {text-align: center;}

.ijo {background-color: #12544F;}
.biru {background-color: #B0CDE6;}
.merah {background-color: #D45060;}
.kuning {background-color: #FFD51E;}
.ungu {background-color: #5003C0;}
.cream {background-color: #FFEDB9;}
.pink {background-color: #FF788D;}
.turquoise {background-color: #7DCCAD;}
.random {background-color: #;D46D25}
